/* ============================================= */
/* 
    MAIN LAYOUT
    1.Section HERO
    2.Section ABOUT
    3.Section FACTS
*/
/* ============================================= */

/* SECTION HERO */
.hero {
    padding: 3rem;
    background: url('../images/page-top-bg.jpg') no-repeat center center;
}

.hero__title {
    padding: 0.5rem;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    color: var(--white-color);
    font-weight: 700;
    background-color: var(--primary-color);
}