* {
    --white-color: #fff;
    --primary-color: #d72727;
    --text-color: rgb(107, 107, 107);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* FONTs */
    font-family: 'Poppins', sans-serif;
}

